

  .container{
      margin-top: 10%;
      margin-left: 20%;
      display: flex;
      .heading{
          h1{
              border: 2px solid black;
              padding: 5%;
              font-size: 80px;
              color: rgb(207, 207, 70);
          }
          position: absolute;
          left: 60%;
          right: 40%;
          top: 35%;
      }
      #insider{
         
    .example-full-width {
        font-size: 20px;
        width: 25%;
    }
      }
     
  }