.selector{
    margin-left: 35%;
    .select-form{
        width: 50%;
        font-size: 20px;
    }
}

.card-body{
    background: skyblue;
   .title{
       cursor: pointer;
   }
}

.container{
    width: 100%;
}